<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog Server</title>
    <link rel="stylesheet" href="/public/assets/style.css" />
  </head>
  <body>
    <header>
      <nav>
        <div class="intro">
          <h1>Welcome to my website</h1>
        </div>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/creat">Creat blog post</a></li>
          <li><a href="about">About Us</a></li>
          <li><a href="contact">Contact Us</a></li>
        </ul>
      </nav>
    </header>
  </body>
</html>
